.jumbotron {
  background-color: #4ea1c2;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #4ea1c2;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-tecno {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding: 10px;
}
.tab-content {
  padding-top: 10px;
}
